h1{font-family: 'Kanit', sans-serif;
color:#605d51;
text-transform: uppercase;
font-size:55px;
line-height:50px;}


h3{font-family: 'Kanit', sans-serif;
color:#605d51;}
p{font-family: 'Niramit', sans-serif;
color:#605d51;}

.My-name{text-transform: uppercase;
font-size:600px;
line-height:1.6px;
}


.my-color {
    background-color:#e2ddd6;
}

.my-color-top {
    background-color:#c1bcb7;
}
.My-bg-col{
    background-color:#F8F7F3;
}

.my-col-chart {
    background-color:grey;
}

h6{font-family: 'Niramit', sans-serif;
color:#605d51;}